@import '../../../shared/styles.scss';
.mat-tree-head {
    width: 936px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    box-shadow: 0px 1px 5px 0px #0000002B;
    padding-left: 16px;
}

.mat-tree-head-expand {
    width: 936px;
    height: 279px;
    margin-bottom: 8px;
    box-shadow: 0px 1px 5px 0px #0000002B;
    padding: 16px;
}

mat-tree-node {
    display: none !important;
}
.row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h3 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0px;
    }
}
.question-content {
    height: 40px;
    width: 100%;
}
.content-title {
    padding-top: 16px;
    font-size: 16px;
    color: $gray-text;
    font-weight: 700;
}
.text-content {
    font-size: 16px;
    color: $gray-text;
    font-weight: 400;
}
.mat-tab-label {
    padding: 5px;
    color: $gray-text2;
    font-family: Museo Sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 130px;
    padding: 5px;
    background-color: transparent;
    font-family: Museo Sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primary-blue;
    font-weight: 600;
    font-size: 11px;
}

/* Styles for the ink bar */
.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: $primary-blue;
}

.mat-icon-rtl-mirror {
    color: $gray-text3;
}