@font-face {
    font-family: Museo Sans;
    src: url(../assets/fonts/MuseoSans_500.otf) format('truetype');
}

$kc-white: #fff;
$kc-black: #000;
$kc-gray:#dadada;
$success:#0C6904;
$error: #AA0000;
$gray-text: #3C3C3C;
$gray-text2: #757575;
$gray-text3: #474B55;
$gray-head-table: #868686;
$light-gray: #e1e1e1;
$primary-blue:#006281;
$kc-border: 1px solid #dadada;
