<div class="head-table">
  <h2>Table</h2>
  <div class="btn-container">
    <p class="status-txt">Status filter:</p>
    <button mat-button mat-button [ngClass]=" userStatusValue === 'Accepted' ? 'btn-active' : 'btn-basic'" (click)="changeStatus('Accepted')">
      Accepted
      <img *ngIf="userStatusValue === 'Accepted'" src="/assets/img/close-icon.png" alt="close icon">
    </button>
    <button mat-button [ngClass]="userStatusValue === 'Declined' ? 'btn-active' : 'btn-basic'" (click)="changeStatus('Declined')">
      Declined
      <img *ngIf="userStatusValue === 'Declined' " src="/assets/img/close-icon.png" alt="close icon">
    </button>
  </div>
</div>

<table>
  <thead>
    <th>name</th>
    <th>lastname</th>
    <th>email</th>
    <th>status</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | filter:userStatusValue">
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td [ngClass]=" user.status === 'Accepted' ? 'accepted' : 'declined'">
        <div [ngClass]=" user.status === 'Accepted' ? 'circle-green' : 'circle-red'">
          <mat-icon class="icon-status" >
            {{user.status === 'Accepted'? 'check' : 'close'}}
          </mat-icon>
        </div>
        {{user.status}}
      </td>
      <td class="share">
        {{user.share}}
        <img src="/assets/img/share-logo.svg" alt="share icon">
      </td>

    </tr>
  </tbody>
</table>
