
<h2>Explore similar cards</h2>
<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile>
    <mat-card class="card">
      <h2>Similar Card 1</h2>
      <mat-card-content>
        <p class="description">{{cardText}}</p>
        <p class="action">{{cardBtnText}}<img src="assets/img/path.svg" alt="path icon"></p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <h2>Similar Card 2</h2>
      <mat-card-content>
        <p class="description">{{cardText}}</p>
        <p class="action">{{cardBtnText}}<img src="assets/img/path.svg" alt="path icon"></p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
  